@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
    margin: 0px;
}
.box{
    background-color: hsl(330, 100%, 98%);
    width: 900px;
    height: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

body{
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    justify-content: center;
    align-items: center;
    font-family: 'young serif';
    font-weight: 400;
    position: relative;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'outfit';
    font-weight: 400;
    position: relative;
}

.preparation-time{
    font-family: 'outfit';
    border-radius: 10px;
    width: 850px;
    height: 140px;
    margin: 25px;
    background-color: hsla(185, 97%, 88%, 0.5);
} 

.preparation-time  h4{
    margin: 10px 0px;
    padding-left: 20px;
    font-weight: 600;
    position: relative;
    color: hsl(332, 51%, 32%);
}

.preparation-time li{
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
}

.image > img{
    width: 850px;
    border-radius: 10px;
    margin: 26px 26px;
    position: relative;
}

.header-content{
    position: relative;
}

.Ingredients{
    position: relative;
    margin: 25px 25px;
}

.Ingredients li{
    padding-left: 10px;
}

.padding-change{
    padding-left: 15px;
    padding-right: 15px;
}

.Instructions{
    margin: 25px 25px;
}

li{
    font-family: 'outfit';
    font-weight: 400;
    margin: 10px 0px;
}

ol li::marker{
    font-weight: bold;
}

h3,b,p,li{
    color: hsl(14, 45%, 36%);
    
}

h2{
    color: hsl(24, 5%, 18%);
    font-weight: 200;
    margin: 10px 0px;
}

hr{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(188, 212, 212);
}

td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}


/* .table p{
    display: inline;
} */

.table div{
    width: 100%;
    display: flex;
    margin: 10px 0px;
}
.table div p{
    flex: 1;
    margin-left: 15px;
}
.right-p{
    font-weight: 700;
}
.Nutrition{
    margin: 25px 25px;
}
@media screen and (max-width: 850px){
    .image > img{
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
    .box{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .preparation-time{
        width: 90%;
    }
}